---
layout: default
---
<h1>{{ page.title }}</h1>

<div class="postheader">
  <p>
    {% assign location = page.location %}
    {% if location %}
      <span class="italic">{{ location }}</span>
    {% endif %}
  </p>
  <p> 
    {{ page.date | date_to_string }}
    <br>
    by <span class="bold">{{ page.author }}</span>
  </p>
</div>

<!--  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %} -->


<!-- <p>
	{% assign visited = page.visit_date %}
	{% if visited %}
		<span class="bold">Visited: </span>{{ visited | date_to_string }}
	{% endif %}
</p> -->

<div class="content_border">{{ content }}</div>

<a href="/" class="textlink">Home</a>
